body {
    background-color: #C5BAAF;
    transition: background-color 0.3s ease;
}

.btnToggleNav {
    width: 60px;
    height: 60px;
    left: 0;
}

.btnToggleNav:hover {
    background-color: #f1f1f1;
    opacity: 0.5;
}

img {
    width: 30px;
    height: 30px;
    padding: 15px;
}

p {
    text-align: center;
    font-size: 30px;
    color: rgb(105, 97, 97);
}

.nav-sidebar {
    left: 0;
    bottom: 0;
    width: 50px;
    height: 310px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    z-index: 1000;
    transition: all 500ms ease-in-out;
}


.nav-sidebar ul {
    padding: 0;
    margin: 0;
    overflow: hidden;
    visibility: hidden;
    
}


.nav-sidebar ul li {
    list-style: none;
    line-height: 60px; 
    border: 1px solid #f1f1f1;
    transition: all 500ms ease-in-out;
}


.nav-sidebar ul li a {
    display: block;
    height: 60px;
    padding: 0 10px;
    text-decoration: none;
    color: black;
    white-space: nowrap;
    transition: all 0s step-start;
}



.taupeLink {
    background-color: #C5BAAF;
}

.beigeLink {
    background-color: #EBCFB2;
}

.pinkLink {
    background-color: #D5ACA9;
}

.brownLink {
    background-color: #B38D97;
}

.darkblueLink {
    background-color: #424B54;
}




.taupe-background{
    background-color: #C5BAAF;
}

.beige-background {
    background-color: #EBCFB2;
}

.pink-background {
    background-color: #D5ACA9;
}

.brown-background {
    background-color: #B38D97;
}

.darkblue-background {
    background-color: #424B54;
}
    
    
